
/* this is to reset almost everything under the popup to a sane value */


#rikaichan-window, #rikaichan-window * { 
	width: auto;
	height: auto;
	background: transparent;
	color: #000000;
	border: none !important;
	border-spacing: 0px;
	margin: 0px;
	padding: 0px;
	letter-spacing: normal;
	text-align: left;
	text-decoration: none;
	text-indent: 0px;
	text-transform: none;
	white-space: normal;
	word-spacing: normal;
	font: normal 14px sans-serif;
	visibility: visible;
}

#rikaichan-window { 
	position: absolute;
	z-index: 7777;
	border: 1px solid #BBC !important;
	padding: 4px;
	background: #F0F7FF;
	top: 5px; 
	left: 5px;
	min-width: 100px;
}

/* used for word definitions */

#rikaichan-window .w-kanji {
	font-size: 18px;
	color: #7070FF;
}

#rikaichan-window .w-kana {
	font-size: 18px;
	color: #20A020;
}

#rikaichan-window .w-conj {
	color: #A0A0A0;
	font-size: 13px;
}
	
#rikaichan-window .w-def {
	font-size: 13px;
}


/* used for kanji information */

#rikaichan-window .k-main-tb {
	width: 300px;
}

#rikaichan-window .k-kanji {
	font-family: serif;
	font-size: 48px;
}

#rikaichan-window .k-eigo {
	font-size: 12px;
}

/* kanji: readings */

#rikaichan-window .k-yomi {
	font-size: 14px;
	color: #3333FF;
	margin: 4px 0px;
}

#rikaichan-window .k-yomi-hi {
	color: #282;
}

#rikaichan-window .k-yomi-ti {
	font-size: 11px;
	color: #AAA;
}

/* kanji radical, grade, freq, strokes box */

#rikaichan-window .k-abox-tb {
	width: 120px;
	margin-bottom: 4px;
	float: right;
	clear: right;
}

#rikaichan-window .k-abox-r {
	font-size: 12px;
	background: #F7FFFF;
	text-align: center;
	padding: 1px 4px;
}

#rikaichan-window .k-abox-g {
	font-size: 12px;
	background: #E7F0F7;
	text-align: center;
	padding: 1px 4px;
}

#rikaichan-window .k-abox-f {
	font-size: 12px;
	background: #E7F0F7;
	text-align: center;
	padding: 1px 4px;
}

#rikaichan-window .k-abox-s {
	font-size: 12px;
	background: #F7FFFF;
	text-align: center;
	padding: 1px 4px;
}

/* kanji components box */

#rikaichan-window .k-bbox-tb {
	width: 120px;
	margin-bottom: 4px;
	float: right;
	clear: right;
}

#rikaichan-window .k-bbox-0a {
	vertical-align: top;
	font-size: 11px;
	padding: 1px 3px;
	background: #E7F0F7;
	color: #3333FF;
}

#rikaichan-window .k-bbox-0b {
	vertical-align: top;
	font-size: 11px;
	padding: 1px 3px;
	background: #E7F0F7;
}

#rikaichan-window .k-bbox-1a {
	vertical-align: top;
	font-size: 11px;
	padding: 1px 3px;
	background: #F7FFFF;
	color: #3333FF;
}

#rikaichan-window .k-bbox-1b {
	vertical-align: top;
	font-size: 11px;
	padding: 1px 3px;
	background: #F7FFFF;
}


/* kanji: misc index */

#rikaichan-window .k-mix-tb {
	background: #F7FFFF;
	width: 100%
}

#rikaichan-window .k-mix-td0 {
	background: #E0E7EF;
	font-size: 12px;
}

#rikaichan-window .k-mix-td1 {
	background: #F7FFFF;
	font-size: 12px;
}




/* manual query */

#rikaichan-window .q-tb td {
}

#rikaichan-window .q-w {
	border-right: 1px dotted #A0A7AF !important;
	padding: 0px 2px;
	vertical-align: top;
}

#rikaichan-window .q-k {
	border-left: 1px dotted #A0A7AF !important;
	padding: 0px 2px;
	vertical-align: top;
}

