
#rikaichan-lbar-close {
	list-style-image: url("chrome://rikaichan/skin/smile.png");
}

#rikaichan-lbar-close:hover {
	list-style-image: url("chrome://rikaichan/skin/smile_close.png");
}

#rikaichan-lbar-close.waiting {
	list-style-image: url("chrome://rikaichan/skin/smile_wait.png");
}

#rikaichan-lbar-search {
	list-style-image: url("chrome://rikaichan/skin/search.png");
}

#rikaichan-lbar-copy {
	list-style-image: url("chrome://rikaichan/skin/copy.png");
}

#rikaichan-lbar-save {
	list-style-image: url("chrome://rikaichan/skin/save.png");
}

#rikaichan-lbar-config {
	list-style-image: url("chrome://rikaichan/skin/config.png");
}

#rikaichan-toggle-button {
	list-style-image: url("chrome://rikaichan/skin/smile.png");
}
#rikaichan-toggle-button[rc_enabled=true] {
	list-style-image: url("chrome://rikaichan/skin/smile_star.png");
}

#rikaichan-lbar-button {
	list-style-image: url("chrome://rikaichan/skin/smile_lbar.png");
}
